.box--light {
    background: #e2e2e3;
    width: fit-content;
    padding: 40px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.box--light:hover {
    background: #cfcfcf;
    transform: scale(1.05);
}


.h__status--connected {
    background-color: green;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}


.lable--gray {
    width: 13ch;
    background-color: #e2e2e3;
    padding: 10px;
    border-radius: 18px;
    text-align: center;
}

#time {
    width: 9ch !important;
}

.h__logo img {
    width: 80%;
}

.w__root {
    width: 70%;
}

.w__name {
    margin-top: 34vh;
}

.a__root {
    width: 28%;
}

.alarm--normal {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #e2e2e3;
    text-align: center;
    gap: 5px;
}

.alarm__alarm__name--normal {
    font-size: 1rem;
}

.alarm__alarm__perameter--normal {
    font-size: 1.5rem;
    font-weight: bold;
}

.alarm__alarm__time--normal {
    font-size: 0.875rem;
    color: #4f4f4f;
}

.alarm__alarm__perameter--active {
    font-size: 1.5rem;
    font-weight: bold;
}

.alarm--active {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #FF4040;
    text-align: center;
    color: var(--accent);
    gap: 5px;
    animation-name: alarm-blink;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#waveform {
    display: block;
    width: 65%;
    height: 30vh;
    position: absolute;
}

#waves {
    display: block;
    width: 65%;
    height: 30vh;
    position: absolute;
}

.info {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #e2e2e3;
    text-align: center;
    gap: 5px;
}

.info__name {
    font-size: 1rem;
}

.info__perameter {
    font-size: 1.5rem;
    font-weight: bold;
}

.info__time {
    font-size: 0.875rem;
    color: #4f4f4f;
}


@keyframes alarm-blink {
    0%,
    5% {
        background-color: #e62e40;
    }
    10% {
        background-color: transparent;
    }
    15% {
        background-color: #e62e40;
    }
    80% {
        background-color: #e62e40;
    }
    90% {
        background-color: transparent;
    }
    100% {
        background-color: #e62e40;
    }
}