
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RMS-Login</title>

    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/lab.css' %}">
    <link rel="stylesheet" href="{% static 'css/RMS.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}" media="screen and (max-width: 767px)">
    <script src="{% static 'logic/lab.js' %}" defer></script>
</head>

<body>
    <nav class="p-20 w-full">
        <div class="px-15">
            <div class="flex sp-btwn p-15 nav__main">
                <div>
                    <a href="/" class="h__logo">
                        <img src="{% static 'res/medisys.svg' %}" alt="HiveFusion Lab logo" srcset=""></a>
                </div>
                <div class="nav__pages">
                    <ul class="flex ls-none center">
                        <li><a href="/" class="text-deco-none p-15 text-prm">Home</a></li>
                        <li><a href="" class="text-deco-none p-15 text-prm">Products</a></li>
                        <li><a href="/about" class="text-deco-none p-15 text-prm">About</a></li>
                        <li><a href="/support" class="text-deco-none p-15 text-prm">Support</a></li>
                    </ul>
                </div>
                <div class="hidden show--mobile flex x-center mt-10">
                    <label for="menu-toggle" class="menu__open">
                        <img src="{% static 'images/hamburger-manu-mobile.png' %}" alt="" srcset="">
                    </label>
                </div>

            </div>
        </div>
        <input type="checkbox" id="menu-toggle" class="menu__toggle" />
        <div class="menu__mobile">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="/cart"><img src="{% static 'images/Shopping cart.svg' %}" alt="Cart" /></a></li>
                <li><label for="menu-toggle" class="menu__close" id="closeMenu">Close ✕</label></li>
            </ul>
        </div>
    </nav>

    <section class="sign__in__form ">
        <div class="signup" id="loop">
            <h1 class="signup__heading">Welcome Back!</h1>
            <p class="signup__subtext">welcome please enter your details !</p>

            <form class="signup__form" method="POST" action="login">
                {% csrf_token %}

                {% if error %}
                <p style="color: red;">{{ error }}</p>
                {% endif %}

                <label class="signup__label">
                    Hospital id
                    <img src="{% static 'res/email-icon.svg' %}" alt="email icon"
                        class="signup__icon" />
                </label>
                <input type="text" class="signup__input" name="email" placeholder="Enter your email" required />

                <label class="signup__label">Password</label>
                <input type="password" class="signup__input" name="password" placeholder="Enter your password"
                    required />

                <a href="/reset-password" class="underline signup__link ">Forgot password ?</a>

                <button type="submit" class="signup__button">Sign in</button>

                <p class="signup__footer">
                    Don’t have an account?
                    <a href="#loop" class="signup__signup-link">Access Medisys RMS</a>
                </p>
            </form>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__left">
            <div class="footer__logo">
                <a href="/"> <img src="{% static 'res/medisys.svg' %}" alt="HiveFusion Lab logo"
                        srcset=""></a>
            </div>
            <p class="footer__description">
                Medisys serves and empowers healthcare professionals with innovative solutions.
            </p>
            <div class="footer__social">
                <a href="https://www.linkedin.com/company/hivefusion-lab" aria-label="LinkedIn" class="footer__social-link">
                    <svg xmlns="http://www.w3.org/2000/svg" class="footer__social-icon" viewBox="0 0 24 24"
                        fill="currentColor">
                        <path
                            d="M4.983 3.5c0 1.381-1.114 2.5-2.483 2.5s-2.5-1.119-2.5-2.5S.619 1 1.983 1s3 1.119 3 2.5zM.5 7h4.966v12H.5V7zm7.002 0h4.768v1.633h.066c.663-1.26 2.287-2.59 4.708-2.59 5.034 0 5.966 3.31 5.966 7.608V19h-5v-5.892c0-1.41-.025-3.227-1.967-3.227-1.97 0-2.27 1.535-2.27 3.11V19H7.5V7z" />
                    </svg>
                </a>
                <a href="https://www.instagram.com/hivefusion_lab/" aria-label="Instagram" class="footer__social-link">
                    <svg xmlns="http://www.w3.org/2000/svg" class="footer__social-icon" viewBox="0 0 24 24"
                        fill="currentColor">
                        <path
                            d="M7.75 2h8.5A5.75 5.75 0 0122 7.75v8.5A5.75 5.75 0 0116.25 22h-8.5A5.75 5.75 0 012 16.25v-8.5A5.75 5.75 0 017.75 2zm0 1.5A4.25 4.25 0 003.5 7.75v8.5A4.25 4.25 0 007.75 20.5h8.5a4.25 4.25 0 004.25-4.25v-8.5A4.25 4.25 0 0016.25 3.5h-8.5zm8.69 2.19a1.19 1.19 0 110 2.38 1.19 1.19 0 010-2.38zm-4.19 2.88a4.38 4.38 0 110 8.75 4.38 4.38 0 010-8.75zm0 1.5a2.88 2.88 0 100 5.75 2.88 2.88 0 000-5.75z" />
                    </svg>
                </a>
            </div>
            <div class="footer__copyright">
                <strong>© 2025 Medisys , All rights reserved</strong>
            </div>
        </div>

        <div class="footer__nav">
            <div class="footer__nav-group">
                <h4 class="footer__nav-title">Product</h4>
                <ul class="footer__nav-list">
                    <li><a href="#" class="footer__nav-link">Medivent Gold</a></li>
                    <li><a href="#" class="footer__nav-link">Neocare</a></li>
                    <li><a href="#" class="footer__nav-link">Excelsior</a></li>
                </ul>
            </div>
            <div class="footer__nav-group">
                <h4 class="footer__nav-title">Resources</h4>
                <ul class="footer__nav-list">
                    <li><a href="#" class="footer__nav-link">Documentation</a></li>
                    <li><a href="#" class="footer__nav-link">Tutorials</a></li>
                    <li><a href="#" class="footer__nav-link">Support</a></li>
                </ul>
            </div>
            <div class="footer__nav-group">
                <h4 class="footer__nav-title">Company</h4>
                <ul class="footer__nav-list">
                    <li><a href="#" class="footer__nav-link">About</a></li>
                    <li><a href="#" class="footer__nav-link">Careers</a></li>
                    <li><a href="#" class="footer__nav-link">Partner</a></li>
                </ul>
            </div>
        </div>
    </footer>


    {% if user.is_authenticated %}
    <a href="/profile" class="signup__floating-btn">Profile</a>

    {% endif %}
</body>

</html>